.nodeStyle {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 0 5 0 5;

    -fx-background-color: white;
    -fx-background-radius: 22;

    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 22;
}

.weightStyle {
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 10;

    -fx-background-color: grey;
    -fx-background-radius: 12;
}

.draggedOver {
    -fx-background-color: yellow;
}

.draggedOverError {
    -fx-background-color: red;
}

.selected {
    -fx-border-color: blue;
    -fx-border-radius: 22;
}

.rename {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-color: #16a085;
    -fx-border-radius: 22;
    -fx-border-width: 3;
}

.startNode {
    -fx-background-color: #f1c40f;
}

.endNode {
    -fx-background-color: #e67e22;
}

.edge {
    -fx-stroke: black;
}

.arrow {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.path {
    -fx-background-color: #9b59b6;
    -fx-stroke: #9b59b6;
    -fx-stroke-width: 2;
}